body {
  background-color: #FAF4F1;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.left-column {
  float: left;
  width: 75%;
}

.validity {
  width: 25%;
}

.shift {
  margin-left: 15px;
}

.input {
  height: 400px;
  width: 100%;
  overflow-y: scroll;
  font-family: monaco;
}
