<nav class="navbar navbar-inverse">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">JSON API Validator</a>
  </div>
</div>
</nav>

<div class="shift">
  <h3>Is your data structure JSON API compliant?</h3>
  <div class="validity">
    {{#if isValid}}
    <h3 class="alert alert-success">Yes!</h3>
    {{else}}
    <h3 class="alert alert-danger">No!</h3>

    <div>
      {{errors}}
    </div>
    {{/if}}
  </div>

  <div class="cf">
    <div class="left-column">
      {{textarea
      value=input class="input"
      placeholder="Paste what you want validated in here!"}}

      <button class="btn btn-primary btn-lg" {{action "validate"}}>Validate</button>
    </div>

  </div>
</div>
